# ------------------------
# Python & Virtual Env
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.env
venv/
env/
.venv/

# ------------------------
# Jupyter / IDE Files
# ------------------------
.ipynb_checkpoints/
.vscode/
.idea/
*.log

# ------------------------
# System Files
# ------------------------
.DS_Store
Thumbs.db



# ------------------------
# OS-specific hidden files
# ------------------------
desktop.ini
